/* ===== Sidebar ===== */
.brand {
  display: flex;
  align-items: center;
  gap: 12px;
  padding: 10px 12px 16px;
  border-radius: 12px;
}
.brand .logo {
  width: 40px;
  height: 40px;
  display: grid;
  place-items: center;
  background: rgba(255, 255, 255, 0.12);
  border-radius: 10px;
}
.brand .logo mat-icon {
  color: #bbdefb;
}
.brand h3 {
  font-size: 1.08rem;
  margin: 0;
  font-weight: 700;
  letter-spacing: 0.2px;
}
.brand .muted {
  opacity: 0.85;
  font-size: 0.86rem;
}

.nav a.mat-mdc-list-item {
  border-radius: 10px;
  margin: 4px 6px;
  color: #eaf2ff;
}
.nav a.active,
.nav a.mat-mdc-list-item:hover {
  background: rgba(255, 255, 255, 0.12);
}

/*Boton logout*/

.sidebar-bottom {
  position: absolute;
  bottom: 40px;
  left: 12px;
  right: 12px;
  display: flex;
  justify-content: center;
}

/* Botón neumórfico moderno */
.logout-btn {
  background: #111;
  color: white;
  padding: 12px 26px;
  border-radius: 40px;
  font-weight: 500;
  font-size: 14px;

  display: flex;
  align-items: center;
  gap: 8px;

  box-shadow:
    4px 4px 10px rgba(0, 0, 0, 0.4),
    -4px -4px 10px rgba(255, 255, 255, 0.04);
  transition: all 0.25s ease;
}

/* Hover */
.logout-btn:hover {
  transform: translateY(-2px);
  box-shadow:
    6px 6px 12px rgba(0, 0, 0, 0.45),
    -4px -4px 10px rgba(255, 255, 255, 0.05);
  background: #000;
}

/* Active (click) */
.logout-btn:active {
  transform: translateY(1px);
  box-shadow:
    inset 4px 4px 10px rgba(0, 0, 0, 0.5),
    inset -4px -4px 10px rgba(255, 255, 255, 0.03);
}

.logout-btn mat-icon {
  font-size: 20px;
}



