html {
  font-size: 16px;
} /* 15–16px va bien en desktop */
body {
  color: var(--text, #0f172a);
}
/* Ajuste base para Material Symbols */
.material-symbols-rounded,
.mat-icon {
  font-variation-settings:
    'FILL' 0,
    'wght' 400,
    'GRAD' 0,
    'opsz' 24;
}

/*Evitar scroll horizontal en sidebar*/
.mat-drawer-inner-container {
  overflow-x: hidden !important;
}

/*SNACK-BAR*/
.snackbar-success {
  background-color: #4caf50 !important;
  color: white !important;
}

.snackbar-error {
  background-color: #d32f2f !important;
  color: white !important;
}

/*MAT-DIALOG-CONTAINER*/
.cliente-dialog .mat-dialog-container {
  background: #ffffff;
  border-radius: 24px !important;
  box-shadow:
    0 12px 24px rgba(0,0,0,0.08),
    0 4px 8px rgba(0,0,0,0.05);
  padding: 0 !important;
}

