<mat-sidenav-container class="shell">
  <!-- Sidebar persistente en todas las páginas -->
   <mat-sidenav
    #sidenav
    [mode]="isHandset() ? 'over' : 'side'"
    [opened]="!isHandset()"
    class="sidebar"
  >
    <app-sidebar></app-sidebar>
  </mat-sidenav>
  
  <!-- Contenido principal -->
  <mat-sidenav-content class="content">
    <!-- Toolbar fija -->
    <app-toolbar
      [theme]="theme"
      [toggleTheme]="toggleTheme"
      [toggleSidenav]="toggleSidebar"
    ></app-toolbar>

    <!-- Aquí se renderiza Dashboard por defecto y el resto según la ruta -->
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
