.edit-client-container {
  background: white;
  padding: 35px;
  border-radius: 20px;
  max-width: 900px;
  margin: 40px auto;
  box-shadow: 0 8px 25px rgba(0, 0, 0, 0.05);
}

h1 {
  font-size: 28px;
  font-weight: 700;
  margin-bottom: 25px;
}

.full-width {
  width: 100%;
}

.row {
  display: flex;
  gap: 20px;
  width: 100%;
}

.row mat-form-field {
  flex: 1;
}

.btn-wrapper {
  display: flex;
  justify-content: center;
  margin-top: 30px;
}

.submit-btn {
  padding: 10px 45px;
  font-size: 16px;
  border-radius: 14px;
}
